html, body {
  width: 100%;
  height: 100%;
}

@property --height {
  syntax: '<length>';
  inherits: false;
  initial-value: 1px;
}

:root {
  --mainColor: #02ffff;
}

body {
  display: flex;
  transform-style: preserve-3d;
  perspective: 500px;
  background: #000;
  overflow: hidden;
}

.g-container {
  position: relative;
  margin: auto;
  width: 300px;
  height: 300px;
  transform-style: preserve-3d;
  cursor: pointer;
  // transition: .1s;
  
  &:hover .border-particle{
      filter: url('#particle');
  }
}
.border-particle {
  position: absolute;
  width: 700px;
  height: 700px;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -50%, -20px);
  transform-style: preserve-3d;
  transition: 0 .2s;
  
  
  // &::before {
  //     content: "";
  //     position: absolute;
  //     top: 50%;
  //     left: 50%;
  //     width: 300px;
  //     height: 300px;
  //     border: 15px solid #ed243c;
  //     border-radius: 50%;
  //     transform: translate(-50%, -50%);
  // }
}

.border {
  position: relative;
  height: 300px;
  border-radius: 50%;
  border: 10px solid #02ffff;
  box-shadow: inset 0 0 0 5px #2968d9;
  box-sizing: border-box;
}

.circle {
  --height: 1px;
  position: absolute;
  width: 5px;
  height: var(--height);
  --halfHeight: calc((var(--height) + 35px) / 2);
  top: 50%;
  left: 50%;
  transform: translate(-50%, calc(-50% - var(--halfHeight)));
  color: var(--mainColor);
  border-top: 35px solid currentColor;
  transform-origin: 50% 100%;
  -webkit-box-reflect: below;
  filter: drop-shadow(0 0 10px #2968d9);
  animation: rotate 10s infinite ease-in-out;
  
  &::before,
  &::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      width: 5px;
      height: inherit;
      border-top: 35px solid currentColor;
      transform-origin: 50% 100%;
      -webkit-box-reflect: below;
  }
  
  &::after {
      transform: rotate(60deg);
  }
  
  &::before {
      transform: rotate(120deg);
  }
}

@keyframes rotate {
  50% {
      --height: 50px;
      filter: drop-shadow(0 0 10px #2968d9) hue-rotate(360deg);
      transform: translate(-50%, calc(-50% - var(--halfHeight))) rotate(1080deg) translateZ(30px);
  }
  100% {
      transform: translate(-50%, calc(-50% - var(--halfHeight))) rotate(2160deg) translateZ(0px);
  }
}